CONFIG_FREERTOS_HZ=1000

CONFIG_TINYUSB_MIDI_COUNT=2
# CONFIG_TINYUSB_CDC_ENABLED is not set
# CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID is not set
CONFIG_TINYUSB_DESC_CUSTOM_VID=0xA006
# CONFIG_TINYUSB_DESC_USE_DEFAULT_PID is not set
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x2E71
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="PeelDok"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="Mystrix"
CONFIG_TINYUSB_DESC_SERIAL_STRING="Mystrix"
CONFIG_TINYUSB_DEBUG_LEVEL=0

# CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG is not set
CONFIG_ESP_CONSOLE_UART_DEFAULT=y

CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_RISCV=y
CONFIG_ULP_COPROC_RESERVE_MEM=4096
